* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "image image"
    "header header"
    "p p"
    "eth-num days-left"
    "footer footer";
  padding: 1.5em;
  gap: 1em;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.card,
.card > img {
  border-radius: 0.5em;
}

.card > img {
  width: 100%;
  height: auto;
  grid-area: image;
}

.card h1 {
  grid-area: header;
  font-size: 1.5em;
}

.card p {
  grid-area: p;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.card .ETH-num,
.card .days-left {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.card .ETH-num {
  grid-area: eth-num;
  color: hsl(178, 100%, 50%);
}

.card .days-left {
  grid-area: days-left;
  justify-self: end;
}

.card footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 0 0;
  border-top: 1px solid hsl(215, 32%, 27%);
}

footer img {
  height: 2em;
  border: 2px solid hsla(0, 0%, 100%, 0.8);
  border-radius: 100%;
}

.card footer p {
  margin-bottom: 0;
  line-height: 1;
}

h1,
span {
  color: white;
}

h1:hover,
span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
