* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  display: flex;
  flex-direction: column;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "image image"
    "header header"
    "p p"
    "eth-num days-left"
    "footer footer";
  padding: 1.5em;
  gap: 1.5em;
}

.card,
.card > img {
  border-radius: 0.5em;
}

.card > img {
  width: 100%;
  height: auto;
  grid-area: image;
}

.card h1 {
  grid-area: header;
}

.card p {
  grid-area: p;
}

.card .eth-num {
  grid-area: eth-num;
}

.card .days-left {
  grid-area: days-left;
}

.card footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
}

footer img {
  height: 2em;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  border-radius: 100%;
}

footer p {
  flex: 1;
}
