* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  display: flex;
  flex-direction: column;
}

/* body > footer {
  position: fixed;
  bottom: 0;
  width: 100%;
} */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  flex: 0 0 350px;
  min-width: 0;
  padding: 1.5em;
  gap: 1.5em;
}

.card,
.card > img {
  border-radius: 0.5em;
}

.card > img {
}
